@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: black;
  z-index: 5;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;  
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}



header {
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  color: black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 3em var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}